<ion-view view-title="个税查询" class="gscx-view">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button class="button-clear" ng-show="!vm.filterShown">
            <i class="icon ion-ios-arrow-left"></i> 返回
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-title>
        <button class="button button-clear button-block" ng-click="vm.toggleFilter($event)">个税查询
            <i class="icon ion-ios-arrow-down" ng-class="{open: vm.filterShown}"></i></button>
    </ion-nav-title>
    <ion-content>
        <ion-list class="gs-list">
            <div class="gs-item" ng-repeat="gs in vm.gslist" gs="gs" ng-class="{open: gs.opened}"></div>
        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="right" class="bar-light">
        <span class="sk-total">
            税款合计: <span class="total">{{vm.totalAmount | numberFix}}</span> 元
        </span>
        <button class="button button-positive">
            申请纳税清单
        </button>
    </ion-footer-bar>
</ion-view>
