<ion-modal-view view-title="请选择扣缴义务人">
    <ion-header-bar class="bar-dark">
        <div class="buttons">
            <button class="button button-clear" ng-click="vm.closeKjywr();">
                <i class="icon ion-ios-close-empty"></i>
            </button>
        </div>
        <h1 class="title">请选择扣缴义务人</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="">确定</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item item-divider"></ion-item>
            <ion-item>
                全市范围内所有扣缴义务人
            </ion-item>
            <ion-item class="item item-divider">可选扣缴义务人</ion-item>
            <ion-item>
                上海税友软件有限公司
            </ion-item>
            <ion-item>
                上海万企实业有限公司
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>