<ion-popover-view class="query-filter gscx-query">
    <ion-content>
        <ion-list>
            <a class="item item-input">
                <span>起始日期</span>
                <input type="month" placeholder="年/月" ng-model="vm.queryEdit.startMonth"
                       value="{{vm.query.startMonth | monthInput}}">
            </a>
            <a class="item item-input">
                <span>截止日期</span>
                <input type="month" placeholder="年/月" ng-model="vm.queryEdit.endMonth"
                       value="{{vm.query.endMonth | monthInput}}">
            </a>
            <a class="item item-icon-right" ng-click="vm.openKjywr();">
                <span>扣缴义务人</span>
                <span class="item-note">{{vm.queryEdit.kjywrs | kjywr}}</span>
                <i class="icon ion-ios-more"></i>
            </a>
        </ion-list>
        <div class="tail-box">
            <div class="divider-box">
                <div class="vertical divider light"></div>
            </div>
            <button class="button button-light" ng-click="vm.hideFilter($event);">
                <i ng-class="{
                    'ion-ios-close-empty': !vm.queryChanged,
                    'ion-ios-checkmark-empty': vm.queryChanged
                }"></i>
            </button>
        </div>
    </ion-content>
</ion-popover-view>