<ion-popover-view class="query-filter gscx-query">
    <ion-content>
        <ion-list>
            <a class="item item-input">
                <span>起始日期</span>
                <input type="month" placeholder="年/月" ng-model="vm.queryEdit.startMonth"
                       value="{{vm.query.startMonth}}">
            </a>
            <a class="item item-input">
                <span>截止日期</span>
                <input type="month" placeholder="年/月" ng-model="vm.queryEdit.endMonth"
                       value="{{vm.query.endMonth}}">
            </a>
            <a class="item item-icon-right" ng-click="vm.openKjywr();">
                <span>扣缴义务人</span>
                <span class="item-note">{{vm.queryEdit.kjywrs | kjywr}}</span>
                <i class="icon ion-ios-more"></i>
            </a>
        </ion-list>
    </ion-content>
</ion-popover-view>