/**
 * Created by jimshi0912 on 15/11/5.
 */
.platform-ios.platform-cordova {

  &:not(.fullscreen) {

    .home-view .hero-box {
      padding-top: $bar-height + $ios-statusbar-height;
      height: 166px + $ios-statusbar-height;
    }

    .msg-box {
      ion-content {
        margin-top: $bar-height + $ios-statusbar-height;
      }
    }

    .query-filter {
      top: $bar-height + $ios-statusbar-height !important;
    }

  }
}

.none-border.bar.bar-dark {
  background-image: none;
}

@font-face {
  font-family: 'fjalla';
  src: url('../font/fjalla.eot');
  src: url('../font/fjalla.eot?#iefix') format('embedded-opentype'),
  url('../font/fjalla.woff') format('woff'),
  url('../font/fjalla.ttf') format('truetype'),
  url('../font/fjalla.svg#webfont') format('svg');
}

.none-border {
  border: none;
}

a.item{
  color: $dark;
}

.pane, .view, .modal {
  background-color: $light-gray;
}

.item,
.item-complex .item-content,
.item-radio .item-content {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
}

.item-divider {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 0;
}

.item-input {
  padding-top: 5px;
  padding-bottom: 5px;
}

.item-complex, a.item.item-complex,
button.item.item-complex {
  padding: 0;
}

.item-icon-left .icon,
.item-icon-right .icon {
  font-size: 26px;
  color: #999;
}

.item-toggle .toggle {
  top: 7px;
}

.item-note {
  text-align: right;
}

ion-content {
  .list {
    > .item:first-child {
      border-top: none;
    }
  }
}
.bar .button:after{
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  content: ' ';
}
.bar .button.back-button,
.bar button.back-button {
  font-size: 15px;
  padding-right: 8px;
}

.bar .button.back-button .icon:before,
.bar button.back-button .icon:before {
  font-size: 28px;
}

.bar-dark .button.button-clear {
  font-size: 14px;
}

.bar-stable .button.button-clear {
  font-size: 14px;
}

.bar-dark .item-input-wrapper {
  background-color: $gray;

  .placeholder-icon:first-child {
    padding-right: 0;
    font-size: 16px;
  }
}

.home-view {
  .bar.bar-dark {
    background-color: $dark;
  }
}

.avatar {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  background-color: $positive;
  color: $light;
  font-weight: 600;
  margin-right: 10px;

  &.avatar-bg {
    width: 52px;
    height: 52px;
    line-height: 50px;
  }

  &.avatar-clear {
    background-color: transparent;
    border: 1px solid $light-gray;
    color: $positive;
    font-size: 15px;
  }
}

.item-avatar,
.item-avatar > .item-content {
  padding-left: 82px;
  min-height: 68px;
}

.item-avatar > .avatar,
.item-avatar > .item-content > .avatar {
  position: absolute;
  top: 8px;
  left: 16px;
}

.checker {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  color: $gray;
  font-weight: 600;
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid $light-gray;
  font-size: 15px;
  width: 20px;
  height: 20px;
  line-height: 18px;

  .icon {
    font-size: 18px;
  }
}

.item.selected {
  .checker {
    color: $light;
    background-color: $positive;
    border-color: $positive;
  }
}

.item.selected {
  background-color: #dff8ff;
}

.item-checker,
.item-checker > .item-content {
  padding-left: 45px;
}

.item-checker > .checker,
.item-checker > .item-content > .checker {
  position: absolute;
  top: 12px;
  left: 16px;
}

.menu-box {
  background-color: $dark;

  .item {
    border: none;
    background-color: transparent;

    > a {
      background-color: transparent;
      color: $light;
    }

    &.activated.item-complex > .item-content,
    > .item-content.activated {
      background-color: rgba(0,0,0,0.2);
    }
  }
  .item-complex.item-icon-left .item-content {
    padding-left: 60px;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .item-icon-left .icon {
    left: 20px;
    color: $gray;
    font-size: 20px;
  }
  .profile-item {
    background-color: rgba(0,0,0,0.2);
    h3 {
      margin-top: 8px;
      color: $light;
    }
    p{
      color: $gray;
    }
  }

  ion-list:nth-child(2){
    .list{
      margin-top: 10px;
    }
  }

  ion-list:last-child{
    .list{
      border-top: 1px solid $darker;
      margin-top: 10px;
      padding-top: 10px;
    }
  }
}

.msg-box {
  background-color: $light-gray;
  .item {
    border-color: $gray;
  }

  ion-content {
    margin-top: $bar-height;
  }
}

.bar.bar-dark {
  border-bottom: none;

  .button.button-clear,
  .title {
    color: $light;
  }
}

.home-view {

  .hero-box {
    background-color: $dark;
    height: 166px;
    padding-top: 44px;

    .row > .col {
      position: relative;
    }
  }

  .hero-tap-box {
    color: #fff;
    width: 100%;
    font-size: 48px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    label {
      margin-top: 5px;
      display: block;
    }
  }

  ion-content {
    margin-top: 121px;
  }
}

.grid-box {
  clear: both;
  height: 275px;
  overflow: hidden;
  margin-left: -1px;
}

app-thumb {
  height: 92px;
  border-left: 1px solid $gray;
  border-bottom: 1px solid $gray;
  background-color: #fff;
  width: 25%;
  float: left;

  > .button {
    border: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
    :after {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    > .icon:before {
      font-size: 30px;
    }

    > label {
      display: block;
      font-size: 12px;
    }
  }
}

.search-view {
  background-color: $light;
}

.scan-view {
  background-color: #000;
}

.divider {
  margin: 1rem 0;
  line-height: 1;
  height: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: rgba(0, 0, 0, .85);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
}

.vertical.divider {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: auto;
  height: 50%;
  line-height: 0;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  &:after,
  &:before {
    position: absolute;
    left: 50%;
    content: '';
    z-index: 3;
    border-left: 1px solid rgba(34, 36, 38, .15);
    width: 0;
    height: 100%;
  }

  &:before {
    top: -100%;
  }

  &:after {
    top: auto;
    bottom: 0;
  }

  &.light:after,
  &.light:before {
    border-color: $light;
  }
}

.popover-backdrop.active {
  background-color: rgba(0, 0, 0, 0.25);
}

.query-filter {
  margin: 0;
  background-color: transparent !important;
  border-radius: 0 !important;
  width: 100% !important;
  left: 0 !important;
  top: 44px !important;
  box-shadow: none !important;

  &.ng-enter-active {
    overflow: visible;
  }

  .scroll-content {
    margin: 0 !important;
    border-radius: 0 !important;

    ion-list .list {
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    }
  }

  .popover-arrow {
    display: none;
  }
  .item-note {
    color: #666;
  }
  .pin-box {
    position: absolute;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    height: $bar-height;
    top: -$bar-height;
  }
  .tail-box {
    text-align: center;

    .divider-box {
      position: relative;
      min-height: 50px;
    }

    .button {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      line-height: 48px;
      min-height: auto;
      min-width: auto;
      border: 1px solid $light;
      background-color: transparent;
      color: $light;
      padding: 0;
      font-size: 38px;

      &.changed{
        background-color: $positive;
      }

      &.changed-add,
      &.changed-remove{
        transition: all linear 0.2s;
      }
    }
  }
}


.item-input {
  input[type="month"] {
    padding-right: 16px;
    color: #666;
  }
}

.nav-bar-title {
  > .button.button-clear {
    margin: 0;
    height: 100%;
    font-size: 17px;
    font-weight: 500;
    > .icon {
      position: absolute;
      left: 50%;
      top: 20px;
      margin-left: -6px;
      &:before {
        font-size: 12px;
      }
      &.open {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      &.open-add,
      &.open-remove {
        transition: all linear 0.2s;
      }
    }
  }
}

/*** gs module ****/
.gscx-view,
.nsqd-view {
  ion-footer-bar {
    padding: 0;
    display: block;
    text-align: right;
    .sk-total {
      line-height: 44px;
    }
    .total {
      font-size: 22px;
      font-weight: 500;
      font-family: 'fjalla';
    }
    .button {
      height: 100%;
      line-height: 100%;
      border-radius: 0;
      border: none;
      min-width: 160px;
      font-size: 16px;
      margin-left: 20px;
    }
  }
  .back-button {
    &.ng-hide {
      opacity: 0;
    }
    &.ng-hide-add,
    &.ng-hide-remove {
      transition: all linear 0.2s;
    }
  }
}

.gs-list {
  .gs-item:first-child {
    > .item {
      border-top: none;
    }
  }
}

.gs-item {
  background-color: $light;
  height: 68px;
  transition: height linear 0.2s;
  &.open {
    height: 180px;
  }

  .item {
    border-bottom: none;
    margin-bottom: 0;
    vertical-align: middle;
    line-height: 40px;
    .amount {
      font-size: 20px;
    }
    .icon {
      font-size: 20px;
      &.open {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      &.open-add,
      &.open-remove {
        transition: all linear 0.2s;
      }
    }
  }
  .detail {
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid $stable;
    color: #888;
    display: none;
    .label {
      min-width: 100px;
      display: inline-block;
    }
    &.open {
      display: block;
    }
  }
}

.profile-item {
  padding-top: 44px;
}

.gscx-query {
  height: 240px;
  overflow: hidden;
  //.list,
  //.tail-box{
  //  transform: translate3d(0, -240px, 0);
  //}
  //&.ng-enter {
  //  .list,
  //  .tail-box{
  //    transform: translate3d(0, 0px, 0);
  //    transition: transform linear 0.2s;
  //  }
  //}
  //&.ng-leave {
  //  .list,
  //  .tail-box{
  //    transform: translate3d(0, -240px, 0);
  //    transition: transform linear 0.2s;
  //  }
  //}
}

.nsqd-item.card {
  .item-divider {
    background-color: #fff;
    font-weight: normal;
    color: #666;
    .item-note {
      font-weight: bold;
    }
  }
  .item-text-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
    > h2 {
      font-weight: bold;
    }
  }
}

.nsqd-detail-view {
  .fw-list {
    display: inline-block;
    float: right;
    color: #aaa;
  }
  ion-footer-bar {
    padding: 0;
    .button {
      margin: 0;
      padding: 0;
    }
  }
}

.sgjy-view{
  .button-full{
    margin-top: 20px;
  }
}